body{
  font-family: 'Poppins', sans-serif;
}

.navbar-brand{
  font-weight: 700;
  font-size: 20px;
}

.nav-link{
  font-size: 16px;
}

.nav-link.active{
  font-weight: 700;
}


.title{
  color: #fff;
  text-align: center;
  font-size: larger;
}
.product-info{
  color:white;
}